@import "../fonts/Gilory/stylesheet.css";
@import "../fonts/Nekst/stylesheet.css";
* {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance:textfield;
}

.wrapper {
	max-width: 1920px;
	height: 100vh;
	width: 100%;
	background-color: white;
}

.container {
	padding-top: 213px;
	padding-left: 48px;
	padding-right: 48px;
}

.calculator__title {
	font-family: "Nekst";
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 90%;
	color: #111111;
	max-width: 753px;
	margin-bottom: 32px;
}
.calculator__subtitle{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #575757;
	margin-bottom: 24px;
}
.calculator__inputs{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.calculator__section{
	width: 30%;
	height: fit-content;
}
.calculator__input{
	background: #F3F3F4;
	border-radius: 16px;
	height: 68px;
	width: 100%;
	padding-left: 26px;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	color: #575757;
	position: relative;
	box-sizing: border-box;
}
.calculator__input:focus{
	border: 2px solid #F3F3F4;
	border-radius: 16px;
	background-color: #FFFFFF;
	outline: 2px solid #F3F3F4;
}
.calculator__section_rub{
	position: relative;

}
.calculator__section_rub::after{
	content: '₽';
	font-family: 'Nekst';
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	color: #575757;
	display: block;
	position: absolute;
	bottom: 20px;
	right: 16px;
}
.calculator__information{
	width: 100%;
	height: fit-content;
	padding-top: 51px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.information__title{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #575757;
	margin-bottom: 8px;
}
.information__subtitle{
	font-family: 'Nekst';
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 90%;
	color: #333333;
}
.calculator__button{
	background: #FF9514;
	border-radius: 40px;
	font-family: 'Nekst';
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	width: 100%;
	height: 68px;
	cursor: pointer;
}
.calculator__button:hover{
	background: #111111;
	transition: all .2s ease;
}
.calculator__section_percent{
position: relative;
}
.calculator__percent{
	position: absolute;
	bottom: 8px;
	right: 8px;
	background: #EBEBEC;
	border-radius: 16px;
	width: 69px;
	height: 54px;
	font-family: 'Nekst';
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 120%;
	text-align: right;
	color: #575757;
	display: flex;
	align-items: center;
	justify-content: center;

}

.calculator__section_month{
position: relative;
}
.calculator__section_month:after{
	content: 'мес.';
	font-family: 'Nekst';
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	text-align: right;
	color: #575757;
	position: absolute;
	right: 24px;
	bottom: 15px;
}
.calculator__subtitle_mobile{
	display: none;
}
@media(max-width:1120px){
	.container{
		padding-left: 36px;
		padding-right: 36px;
		padding-top: 64px;
		margin-bottom: 156px;
	}
	.calculator__inputs{
		flex-direction: column;
	}
	.calculator__section_rub,
	.calculator__section_percent,
	.calculator__section_month{
		width: 100%;
		margin-top: 40px;
	}
	.calculator__information{
		flex-wrap: wrap;
		justify-content: flex-start;
		.calculator__section{
			padding-right: 85px;
			width: fit-content;
		}
		.calculator__section:last-child{
			width: 100%;
			margin-top: 44px;

		}
	}
	.calculator__button{
		width: 345px;
	}
}
@media(max-width:767px){
	.container{
		padding: 44px 20px 64px 20px;
	}
	.calculator__title{
		font-size: 34px;
		margin-bottom: 0;
	}
	.calculator__subtitle{
		font-size: 14px;
		margin-bottom: 8px;
	}
	.calculator__input,
	.calculator__section_rub::after,
	.calculator__section_month:after,
	.calculator__percent{
		font-size: 22px;
	}
	.calculator__input{
		height: 60px;
	}
	.information__title{
		 font-size: 14px;
		margin-bottom: 2px;
	}
	.calculator__information{
		.calculator__section:nth-child(2){
			margin-top:29px ;
		}
		.calculator__section:last-child {
			margin-top: 30px;
		}
	}
	.calculator__subtitle_mobile{
		display: block;
	}
	.calculator__subtitle_dextop{
		display: none;
	}
	.calculator__percent{
		width: 67px;
		height: 48px;
		position: absolute;
		bottom: 6px;
		right: 6px;
	}
	.calculator__information{
		flex-direction: column;
		.calculator__section{
			padding-right: 0;
		}
	}
	.calculator__button{
		font-size: 22px;
		width: 100%;
	}
	.information__subtitle{
		font-size: 22px;
	}

}